html {
 height: 100%;
  width: 100%;
}


#console {
    padding: 15px;
    background-color: #000;
    -webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
  color: #fff;
  font-family: "Consolas", sans-serif;
  font-size: 1vw;
}

input, input:focus, input:focus-within, input:active, input:hover {
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
}

.footer {
    bottom: 0px;
    position: fixed;
}